.container {
   width: 100%;
   height: 100vh;
   background-color: #27292b;
   display: grid;
   grid-template-columns: 50px 1fr 2fr 1fr 50px;
   grid-template-rows: 100px 1fr 100px;
   padding: 50px;
   gap: 8px;


   >div {
      border: 2px solid black;
      background-color: blueviolet;

   }
}